@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Noto+Serif:ital,wght@1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

.defi-container {
  max-width: 100%;
  text-align: center;
  padding: 50px 34px 50px;
  background: black;
  color: white;
}
img.center {
  width: 160px;
}

.white-label {
  padding: 10px 10px 10px;
}
h1.defi {
  font-family: "Noto Serif";
  font-weight: 600;
  font-size: 34px;
  padding: 10px 90px 15px;
  text-shadow: -2px 0px grey;
  color: white;
}
.display {
  display: flex;
}
.right {
  display: grid;
  padding: 14px 0px 7px;
}

h3.defi-heading {
  text-align: center;
  text-shadow: 0px 0px 2px darkgrey;
  transition: 0.4s;
  font-family: monospace;
  width: 90%;
}
h1.defi {
  font-family: "Noto Serif";
  font-weight: 600;
  font-size: 34px;
  padding: 10px 90px 15px;
  text-shadow: -2px 0px grey;
}
p.para-fi {
  font-size: 18px;
  font-weight: 600;
  color: #949482;
  padding: 2px 32px 4px;
}
.heading {
  font-size: 20px;
}
h2.label {
  font-size: 34px;
  padding: 0px 264px 20px;
  font-family: inherit;
}
p.defi-script {
  padding: 5px 100px 20px;
  font-family: inherit;
  color: #808075;
  text-align: center;
}

p.para-defi {
  text-align: center;
  font-size: 14px;
  color: #8e8e86;
  font-family: monospace;
  padding: 15px 70px 10px;
  transition: 0.5s;
}
p.para-defi:hover {
  transform: scaleY(1.5);
  color: rgb(108 93 93);
}
h3.defi-heading {
  text-align: center;
  text-shadow: 0px 0px 2px darkgrey;
  transition: 0.4s;
  font-family: monospace;
}
h3.defi-heading {
  transform: scale(1.1);
}
.cards {
  text-align: center;
}
h1 {
  font-size: 35px;
  font-family: initial;
  color: #170202;
  text-shadow: -1px -1px black;
}
.cards-wrapper {
  display: flex;
  padding: 30px 10px 20px;
}
ul.card-a {
  text-align: center;
  padding: 10px 40px 10px;
  width: 52%;
  background: #1388b5;
  border: 1px white;
  color: white;
  transition: 0.5s;
}
ul.card-a:hover {
  transform: translateX(-20px);
}
ul.card-b {
  text-align: center;
  padding: 10px 40px 10px;
  width: 52%;
  background: #1388b5;
  border: 1px white;
  color: white;
  transition: 0.5s;
}
ul.card-b:hover {
  transform: translateX(-20px);
}
ul.card-c {
  text-align: center;
  padding: 10px 40px 10px;
  width: 52%;
  background: #1388b5;
  border: 1px white;
  color: white;
  transition: 0.5s;
}
ul.card-c:hover {
  transform: translateX(-20px);
}
ul.card-d {
  text-align: center;
  padding: 10px 40px 10px;
  width: 52%;
  background: #1388b5;
  border: 1px white;
  color: white;
  transition: 0.5s;
}
ul.card-d:hover {
  transform: translateX(20px);
}
ul.card-e {
  text-align: center;
  padding: 10px 40px 10px;
  width: 52%;
  background: #1388b5;
  border: 1px white;
  color: white;
  transition: 0.5s;
}
ul.card-e:hover {
  transform: translateX(20px);
}

.card-item-1 {
  padding: 1px 14px 8px;
  align-items: baseline;
  direction: rtl;
}
.advantages.container {
  text-align: center;
}
h3.advantage {
  font-family: initial;
  font-size: 35px;
  font-weight: 600;
  text-shadow: -1px 1px #e5a268;
}
p.software {
  font-family: cursive;
  font-size: 19px;
  padding: 10px 14px 15px;
  color: #74745e;
  transition: 0.5s;
}
p.software:hover {
  transform: translateZ(10px);
  color: black;
  font-family: auto;
  transition: 0.9s;
}
p.lending {
  display: list-item;
  list-style: circle;
  padding: 0px 20px 34px;
  font-size: 21px;
  font-family: "Noto Serif";
  transition: 0.5s;
}
p.lending:hover {
  color: rgb(122, 117, 111);
}

@media screen and (max-width: 1024px) {
  img.center {
    width: 100px;
    height: 70px;
  }
  h2.label {
    font-size: 27px;
    padding: 0px 150px 20px;
    font-family: inherit;
  }
}

@media screen and (max-width: 540px) {
  .defi-container {
    max-width: 100%;
    text-align: center;
    padding: 50px 4px 50px;
    background: black;
    color: white;
  }
  img.center {
    width: 50%;
    display: none;
  }
  h1.defi {
    font-family: "Noto Serif";
    font-weight: 600;
    font-size: 16px;
    /* padding: 10px 5px 15px; */
    text-shadow: -2px 0px grey;
  }
  p.para-fi {
    font-size: 10px;
    font-weight: 600;
    color: #949482;
    padding: 2px 110px 4px;
  }
  p.joc {
    padding: 15px 0px 0px;
    font-size: 14px;
    color: #9b9b8e;
  }
  svg {
    font-size: 14px;
  }
  h2.label {
    font-size: 20px;
    padding: 0px 15px 20px;
    font-family: inherit;
    text-align: center;
  }
  p.defi-script {
    padding: 5px 30px 20px;
    font-family: inherit;
    color: #808075;
    text-align: center;
  }
  h3.defi-heading {
    /* transform: scale(1.1); */
    padding: 10px 16px 0px;
    font-size: 17px;
    width: 90%;
  }
  p.para-defi {
    text-align: center;
    font-size: 14px;
    color: #8e8e86;
    font-family: monospace;
    padding: 15px 11px 10px;
    transition: 0.5s;
  }
  .cards-wrapper {
    display: grid;
    /* padding: 30px 10px 20px; */
  }
  .card-item-1 {
    padding: 1px 14px 8px;
    align-items: baseline;
    /* direction: rtl; */
    direction: ltr;
    margin-left: 45px;
  }
  .card-item-2 {
    padding: 1px 14px 8px;
    align-items: baseline;
    /* direction: rtl; */
    direction: ltr;
    margin-left: 45px;
  }
  p.lending {
    display: list-item;
    list-style: circle;
    padding: 0px 10px 34px;
    font-size: 16px;
    font-family: "Noto Serif";
    transition: 0.5s;
  }
  ul.card-a {
    text-align: center;
    padding: 10px 30px 10px;
    width: 90%;
    background: #1388b5;
    border: 1px white;
    color: white;
    transition: 0.5s;
  }
  ul.card-b {
    text-align: center;
    padding: 10px 30px 10px;
    width: 90%;
    background: #1388b5;
    border: 1px white;
    color: white;
    transition: 0.5s;
  }
  ul.card-c {
    text-align: center;
    padding: 10px 30px 10px;
    width: 90%;
    background: #1388b5;
    border: 1px white;
    color: white;
    transition: 0.5s;
  }
  ul.card-d {
    text-align: center;
    padding: 10px 30px 10px;
    width: 90%;
    background: #1388b5;
    border: 1px white;
    color: white;
    transition: 0.5s;
  }
  ul.card-e {
    text-align: center;
    padding: 10px 30px 10px;
    width: 90%;
    background: #1388b5;
    border: 1px white;
    color: white;
    transition: 0.5s;
  }
}

@media screen and (max-width: 412px) {
  p.para-fi {
    font-size: 14px;
    font-weight: 600;
    color: #949482;
    padding: 2px 10px 4px;
  }
  h1.defi {
    font-family: "Noto Serif";
    font-weight: 600;
    font-size: 14px;
    padding: 10px 19px 15px;
    text-shadow: -2px 0px grey;
  }
  p.defi-script {
    padding: 5px 10px 20px;
    font-family: inherit;
    color: #808075;
    text-align: center;
    font-size: 14px;
  }
}
