@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Noto+Serif:ital,wght@1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

.container {
  width: 100%;
  height: 100%;
}
.ico-sto.container {
  text-align: center;
  padding: 50px 30px 50px;
}

.dash-board-script {
  padding: 10px 10px 10px;
}
h1.ico-ieo {
  text-shadow: -2px 1px grey;
  font-family: emoji;
  font-weight: 500;
}
p.para-ico {
  font-size: 18px;
  padding: 2px 10px 2px;
}
p.para-ico {
  font-size: 18px;
  padding: 2px 10px 2px;
  font-family: emoji;
  color: #979784;
}
button.gtu {
  transform: translate(30px, 0px);
  border-radius: 30px;
  height: 40px;
  background: #fa6b36;
  box-shadow: -2px 3px #bd491e;
  border: none;
  color: white;
  line-height: 7xp;
}
.btn-class {
  padding: 4px 0px 17px;
}
button.gtu {
  transform: translate(60px, 0px);
  border-radius: 30px;
  width: 178px;
  height: 44px;
  background: #fa6b36;
  box-shadow: -2px 3px #bd491e;
  border: none;
  color: white;
  line-height: 7xp;
  font-size: 12px;
}
button.toe {
  transform: translate(30px, 0px);
  border-radius: 30px;
  width: 178px;
  height: 44px;
  background: #0996c5;
  box-shadow: -2px 3px #2258a4;
  border: none;
  color: white;
  line-height: 7xp;
  font-size: 12px;
}
p.joc {
  padding: 15px 0px 0px;
  font-size: 20px;
  color: #9b9b8e;
}
p.icons {
  font-size: 25px;
}
.dash-board-script {
  text-align: center;
}
p.ico-script {
  padding: 24px 80px 30px;
  font-family: fangsong;
  font-size: 16px;
  line-height: 30px;
  transition: 0.4s;
}
p.ico-script:hover {
  transform: scale(1.2);
}
.dash-board-script {
  text-align: center;
  border: 4px solid;
  background: #2ecbcb;
  color: white;
  padding: 0px 40px 0px;
  margin: 0px 160px 0px;
  transition: 0.5s;
}
.dash-board-script:hover {
  transform: scale(0.9);
}
h2.about {
  padding-top: 20px;
  font-size: 20px;
  margin-top: 10px;
}
button.contact {
  text-align: center;
  border: 4px solid;
  background: #2ecbcb;
  color: white;
  padding: 0px 40px 0px;
  margin: 0px 160px 0px;
  transform: translate(0px, -23px);
  height: 60px;
  border-radius: 20px;
}
h1 {
  text-align: center;
}
.ico-text {
  text-align: center;
  border: 4px solid;
  background: #2ecbcb;
  color: white;
  padding: 0px 40px 0px;
  margin: 0px 160px 0px;
  transition: 0.5s;
}
.ico-text:hover {
  transform: translateX(15px);
}
p.ico-para {
  padding: 24px 80px 30px;
  font-family: fangsong;
  font-size: 16px;
  line-height: 30px;
  transition: 0.4s;
}
p.ico-para:hover {
  transform: scale(1.1);
}
h1.arm {
  padding-top: 20px;
  font-size: 23px;
  margin-top: 10px;
  color: white;
}

@media screen and (max-width: 412px) {
  h1.deficrypto {
    color: white;
    font-family: "Noto Serif";
    font-size: 12px;
    padding: 25px 4px 15px;
  }
  p.developement {
    color: white;
    line-height: 17px;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 8px 30px;
  }
  h2.currrency {
    padding: 30px 0px 30px;
    font-size: 19px;
    font-family: "Font Awesome 5 Free";
    text-shadow: -1px 1px whitesmoke;
    font-weight: 700;
    color: white;
  }
  p.para-ficrypto {
    padding: 10px 10px 10px;
    font-family: inherit;
    font-size: 11px;
  }
  .btn-class {
    padding: 4px 0px 17px;
    display: inline-grid;
  }
  button.contact {
    text-align: center;
    border: 4px solid;
    background: #2ecbcb;
    color: white;
    padding: 0px 40px 0px;
    margin: 0px 160px 0px;
    transform: translate(-72px, -25px);
    height: 60px;
    border-radius: 20px;
  }
  button.gtu {
    transform: translate(32px, 15px);
    border-radius: 30px;
    width: 155px;
    height: 44px;
    background: #fa6b36;
    box-shadow: -2px 3px #bd491e;
    border: none;
    color: white;
    line-height: 7xp;
    font-size: 12px;
  }
  .ico-sto.container {
    text-align: center;
    padding: 50px 2px 50px;
  }
  p.para-ico {
    font-size: 18px;
    padding: 2px 4px 2px;
    font-family: emoji;
    color: #979784;
  }
  .dash-board-script {
    text-align: center;
    border: 4px solid;
    background: #2ecbcb;
    color: white;
    padding: 0px 10px 0px;
    margin: 0px 0px 0px;
    transition: 0.5s;
  }
  p.ico-script {
    padding: 40px 2px 80px;
    font-family: fangsong;
    font-size: 17px;
    line-height: 23px;
  }
  .ico-text {
    text-align: center;
    border: 4px solid;
    background: #2ecbcb;
    color: white;
    padding: 0px 6px 8px;
    margin: 0px 3px 0px;
  }
  p.ico-para {
    padding: 35px 4px 35px;
    font-family: fangsong;
    font-size: 17px;
    line-height: 24px;
  }
}

@media screen and (max-width: 540px) {
  .dash-board-script {
    text-align: center;
    border: 4px solid;
    background: #2ecbcb;
    color: white;
    padding: 0px 0px 20px;
    margin: 0px 4px 0px;
    transition: 0.5s;
  }
  p.ico-script {
    padding: 60px 2px 30px;
    font-family: fangsong;
    font-size: 14px;
    line-height: 20px;
    transition: 0.4s;
  }
  p.ico-para {
    padding: 40px 2px 30px;
    font-family: fangsong;
    font-size: 14px;
    line-height: 19px;
    transition: 0.4s;
  }
  .ico-text {
    text-align: center;
    border: 4px solid;
    background: #2ecbcb;
    color: white;
    padding: 0px 40px 0px;
    margin: 10px 10px 10px;
    transition: 0.5s;
  }
  p.para-ico {
    font-size: 18px;
    padding: 4px 5px 5px;
    font-family: emoji;
    color: #979784;
  }
  button.toe {
    transform: translate(17px, 0px);
    border-radius: 30px;
    width: 178px;
    height: 44px;
    background: #0996c5;
    box-shadow: -2px 3px #2258a4;
    border: none;
    color: white;
    line-height: 7xp;
    font-size: 12px;
  }
  button.gtu {
    transform: translate(20px, 11px);
    border-radius: 30px;
    width: 178px;
    height: 44px;
    background: #fa6b36;
    box-shadow: -2px 3px #bd491e;
    border: none;
    color: white;
    line-height: 7xp;
    font-size: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .container-bottom {
    display: grid;
    width: 100%;
    height: 100%;
    background: #3cbce6;
    color: white;
    padding: 100px 40px 100px;
  }
  .dash-board-script {
    text-align: center;
    border: 4px solid;
    background: #2ecbcb;
    color: white;
    padding: 0px 11px 0px;
    margin: 0px 10px 0px;
  }
  .dash-board-script:hover {
    transform: none !important;
  }
  p.ico-script {
    padding: 30px 14px 40px;
    font-family: emoji;
    font-size: 20px;
    line-height: 26px;
  }
  p.ico-script:hover {
    transform: none !important
  }
  .ico-text {
    text-align: center;
    border: 4px solid;
    background: #2ecbcb;
    color: white;
    padding: 10px 5px 10px;
    margin: 0px 4px 0px;
    transition: 0.5s;
  }
  p.ico-para {
    padding: 24px 15px 30px;
    font-family: fangsong;
    font-size: 20px;
  }
}
